TELEGRAM_BOT_TOKEN=put-token-here
WEBHOOK_SECRET=change-me
PUBLIC_BASE_URL=https://example.com
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=default_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSLMODE=
DATABASE_SCHEMA=tg_circle_video_dating_bot
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
ADMIN_TELEGRAM_IDS=190796855
PREMIUM_PRICE=299
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RECEIPT_EMAIL=artem.skynox@yandex.ru
